<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.apache.hadoop.impala2524">
    <resources>
      <resource-root path="ImpalaJDBC41.jar"/>
      <resource-root path="hive_metastore.jar"/>
      <resource-root path="hive_service.jar"/>
      <resource-root path="libfb303-0.9.0.jar"/>
      <resource-root path="libthrift-0.9.0.jar"/>    
      <resource-root path="TCLIServiceClient.jar"/>
      <resource-root path="ql.jar"/>
    </resources>

    <dependencies>
        <module name="org.apache.log4j"/>
        <module name="org.slf4j"/>
        <module name="org.apache.commons.logging"/>
        <module name="javax.api"/>
        <module name="javax.resource.api"/> 
        <module name="org.apache.hadoop.zookeeper" slot="3.4.5-cdh5.3.1" export="true"/>       
        <module name="sun.jdk"/>
    </dependencies>
</module>
