<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="com.101tec.zkclient" slot="0.3">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <resource-root path="zkclient-0.3.jar" />
    </resources>

    <dependencies>
        <module name="org.apache.zookeeper" slot="3.4.5-cdh5.3.6" export="true"/>
        <module name="javax.api"/>
        <module name="org.slf4j"/>
        <module name="org.apache.log4j"/>
        <module name="org.apache.commons.configuration"/>
        <module name="org.apache.commons.logging"/>
    </dependencies>
</module>
